* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fafbff;
  color: #858fad;
  font-weight: 600;
  font-size: 15px;
  font-family: Manrope, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.header {
  background-image: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}

.form-header {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: 50% 50px;
  width: 100%;
  height: 100%;
}

.form-header h1 {
  color: #293356;
  font-weight: 800;
  margin: 0 0 10px 0;
  font-family: Manrope, sans-serif;
}

.form-body {
  position: absolute;
  top: 300px;
  background-color: white;
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  -webkit-box-shadow: 0 0 20px #bdccff;
          box-shadow: 0 0 20px #bdccff;
}

.range-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 30px 0;
}

.range-description :nth-child(2) span {
  color: #293356;
  font-size: 45px;
}

input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 50px;
  background: #eaeefb;
  cursor: pointer;
  margin: 10px 0 50px 0;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: #10d5c2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  -webkit-box-shadow: 0 10px 10px #a5f3eb;
          box-shadow: 0 10px 10px #a5f3eb;
}

.checkbox {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 50px 0;
  border-bottom: 1px solid #eaeefb;
}

.checkbox-container {
  position: relative;
  width: 50px;
  height: 24px;
  margin: 0 15px 0 15px;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="checkbox"]:checked + .slider-round {
  background-color: #10d5c2;
}

input[type="checkbox"]:checked + .slider-round:before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.slider-round {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #cdd7ee;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.discount-text {
  padding: 5px;
  border-radius: 20px;
  background-color: #feece7;
  color: #ff8c66;
  font-size: 10px;
  margin-left: 10px;
}

.form-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form-description ::before {
  content: url("images/icon-check.svg");
}

.form-description p {
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: #293356;
  color: #bdccff;
}
/*# sourceMappingURL=index.css.map */